@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

:root {
  --second-family: "Poppins", sans-serif;
  --c1-a: #151515;
  --c1-b: #575757;
  --c1-c: #a9a9a9;
  --c1-d: #d1d1d1;
  --c1-e: #ebebeb;
  --c1-f: #f5f5f5;
  --c1-h: #f9f9f9;
  --c1-j: #fff;
  --c1-i: #fdfdfd;
  --c2-a: #6a983c;
  --c2-b: #46760a;
  --c2-c: #92c064;
  --c2-d: #c8deb3;
  --c2-e: #f4f8ec;
  --c3-a: #d0a866;
  --c3-b: #b28a48;
  --c3-c: #ecd2a6;
  --c3-d: #faedd8;
  --c3-e: #fff9f0;
  --c4-a: #e5704b;
  --c4-b: #c7522d;
  --c4-c: #eb8d70;
  --c4-d: #f7c6b7;
  --c4-e: #fff1ed;
  --c5-a: #37d0d6;
  --c5-b: #19b2b8;
  --c5-c: #7cd0d3;
  --c5-d: #b9e6e8;
  --c5-e: #ecf6f6;
}

.btn::after {
  content: "";
  background-image: url("../img/arrow-right.svg ");
  display: inline-block;
  width: 16px;
  height: 16px;
}

.main {
  padding-top: 16px;
}

.main__top__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c1c1;
}

.main__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  margin-bottom: 16px;
}

.main__top__link {
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__top__link:hover {
  color: var(--c2-a);
}

.main__center__select {
  border: none;
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  outline: none;
}

.main__center {
  padding-top: 40px;
}

.form__input {
  width: 500px;
  padding: 11px 44px 11px 144px;
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  outline-width: 1px;
  outline-color: var(--c2-c);
  background-color: #F6F6F6;
}
.form__input::-webkit-input-placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}
.form__input::-moz-placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}
.form__input:-ms-input-placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}
.form__input::-ms-input-placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}
.form__input::placeholder {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
}

.main__select {
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  border: none;
  outline: none;
  position: absolute;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  right: 86%;
  background-color: #F6F6F6;
}

.main__sarch__block {
  position: relative;
}

.main___center {
  padding-top: 40px;
}

.main___center__form {
  position: relative;
}

.main__center__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__center__btn::before {
  content: "";
  background-image: url("../img/lup.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-transform: translate(-36%, -50%);
          transform: translate(-36%, -50%);
  top: 56%;
  right: 6%;
}

.main__center__btn {
  background-color: #FFF;
  border: none;
}

.main__line::before {
  content: "";
  display: inline-block;
  background-image: url("../img/line.svg");
  width: 1px;
  height: 20px;
  position: absolute;
  -webkit-transform: translate(13px, 8px);
          transform: translate(13px, 8px);
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  left: 27%;
}

.main__acount::before {
  content: "";
  background-image: url("../img/acount.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__cart::before {
  content: "";
  background-image: url("../img/cart.svg");
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}

.main__cart {
  position: relative;
}

.main__number {
  position: absolute;
}

.main__center__insed__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__number {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-j);
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--c4-a);
  padding: 0px 5px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -8px;
  top: 13px;
}

.main__center__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 34px;
}

.main__botom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__notom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main__bottom__listt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #9f9e9e;
  border-radius: 5px;
  -webkit-box-shadow: 2px 0 10px 5px white;
          box-shadow: 2px 0 10px 5px white;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.main__botom__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  color: var(--c1-a);
}

.main__botom__text::after {
  content: "";
  background-image: url("../img/arrow.svg");
  display: inline-block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}

.main__botom__text:hover ~ .main__bottom__listt {
  opacity: 1;
  visibility: visible;
}

.main__bottom {
  max-width: 1320px;
  padding: 16px 16px;
  background-color: #F9F9F9;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  margin-bottom: 16px;
}

.hero__link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--c2-a);
  margin-bottom: 12px;
}

.hero__btn {
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  border-radius: 12px;
  padding: 12px 16px;
  background: var(--c1-f);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-top: 40px;
  cursor: pointer;
}

.hero__btn::after {
  content: "";
  background-image: url("../../img/arrow-right.svg ");
  display: inline-block;
  width: 16px;
  height: 16px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 269px;
}

.hero__card__item {
  padding: 48px 0 32px 32px;
  background-image: url("../img/card.jpg");
  background-size: contain;
  border-radius: 12px;
  background-repeat: no-repeat;
}

.hero__texts {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  margin-bottom: 8px;
}

.hero__des {
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-a);
  margin-bottom: 94px;
}

.hero__card__btn {
  padding: 12px 6px;
  border: 2px solid var(--c2-c);
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.hero__card__btn::after {
  content: "";
  background-image: url("../img/arrow-color-right.svg ");
  display: inline-block;
  width: 16px;
  height: 16px;
}

.hero__block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.hero {
  padding-top: 64px;
  padding-bottom: 69px;
}

.best__item {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 16px;
}

.best__image {
  border-radius: 5px;
  margin-bottom: 16px;
  background-size: cover;
}

.best__img {
  position: relative;
}

.best__subtitle {
  font-weight: 500;
  font-size: 15px;
  color: var(--c1-a);
  margin-bottom: 4px;
}

.best__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-b);
  margin-bottom: 16px;
}

.best__price {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  text-decoration: none;
}

.best__btn {
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-j);
  border: 2px solid var(--c2-b);
  border-radius: 12px;
  padding: 12px;
  background-color: var(--c2-a);
  cursor: pointer;
}

.best__insed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best__number {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background: var(--c2-e);
  position: absolute;
  top: 2px;
  left: 2px;
}

.best__list {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.best__block {
  display: grid;
  grid-template-columns: 250px 1fr;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 64px;
}

.our__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.our__btn {
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  border-radius: 12px;
  padding: 12px 16px;
  background: var(--c1-f);
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  background-color: #fff;
  cursor: pointer;
}

.our__blocc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our__text {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: var(--c1-a);
  margin-bottom: 24px;
  max-width: 305px;
}

.our__name {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: var(--c1-c);
  margin-bottom: 16px;
}

.our__item {
  border: 1px solid #f1f1f1;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 32px 40px 32px;
  position: relative;
}

.our__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 32px;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.our {
  padding-bottom: 60px;
}

.our__img {
  position: absolute;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  bottom: 0%;
  left: 38%;
}

.headline__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.headline__btn {
  padding: 6px 10px;
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.headline__btn::after {
  content: "";
  background-image: url("../../img/arrow-color-right.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}

.headlline__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.headline__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.posts {
  padding-top: 64px;
}

.posts__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.posts__btn {
  padding: 6px 10px;
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.posts__btn::after {
  content: "";
  background-image: url("../../img/arrow-color-right.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}

.posts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts {
  padding-top: 60px;
}

.post__tips {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background-color: var(--c2-e);
}

.post_item {
  background-image: url("../img/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 469px;
  padding: 24px;
}

.posts__subtitle {
  font-weight: 600;
  font-size: 22px;
  color: var(--c1-j);
  margin-top: 228px;
  margin-bottom: 8px;
}

.posts__author {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-j);
}

.posts__date {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-j);
}

.posts__img {
  border-radius: 50px;
}

.posts__insed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.posts__items {
  max-width: 269px;
}

.posts__imgg {
  background-image: url("../img/posts.jpg");
  background-size: cover;
  height: 180px;
  margin-bottom: 24px;
}

.posts__vegetables {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background-color: var(--c2-e);
  margin-bottom: 8px;
}

.posts__des {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  margin-bottom: 16px;
}

.posts__aouthorr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.posts__datee {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.posts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.posts__salat {
  font-weight: 500;
  font-size: 15px;
  color: var(--c1-a);
}

.posts__itemss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 369px;
  gap: 30px;
}

.posts__aouthorrr {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.posts__dateee {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.posts__bottomm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.posts__big__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  margin-top: 32px;
}

.posts__listes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.footer__page {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c2-a);
}

.footer__top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__top {
  padding-top: 64px;
}

.footer__big__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  padding-top: 46px;
}

.footer__bottom__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  margin-bottom: 16px;
}

.footer__bottom__link {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
  border-radius: 12px;
  padding: 4px 10px;
  background-color: var(--c1-f);
}

.footer__bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__texts {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-a);
}

.fruit {
  padding-top: 16px;
  padding-bottom: 16px;
}

.fruit_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
}

.fruit__des {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
}

.fruit__content {
  margin-top: 16px;
}

.grid {
  padding-top: 16px;
}

.grid__title {
  font-weight: 600;
  font-size: 32px;
  color: var(--c1-a);
}

.grid__wiev::before {
  content: "";
  background-image: url("../img/fruit/lattice.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
}

.grid__list::before {
  content: "";
  background-image: url("../../../img/fruit/lattice-2.svg");
  width: 16px;
  height: 16px;
  display: inline-block;
}

.grid__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__color {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background: var(--c2-e);
}

.grid__wiev {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.grid__list {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.grid__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom-checkbox {
  border: 2px solid var(--c1-d);
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox:checked + .custom-checkbox {
  background-color: var(--c2-a);
  background-image: url("../../../img/fruit/corect.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.custom-checkboxx {
  border: 2px solid var(--c1-d);
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50px;
  cursor: pointer;
}

.checkboxx:checked + .custom-checkboxx {
  border: 5px solid #000;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50px;
}

.vegetables__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-a);
}

.vegetables__btn {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
  border: 1px solid var(--c1-e);
  border-radius: 12px;
  padding: 0px 8px;
  display: inline-block;
}

.vegetables__check__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 9px 16px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.selesct__input {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
  border: none;
}

.input__line {
  display: inline-block;
  height: 20px;
  border: 1px solid var(--c1-d);
}

.vegetables__form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.vegetables__filtres {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-c);
}

.vegetables__filtre {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 12px;
  padding: 0px 8px;
  background-color: var(--c2-e);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.vegetables__filtre::after {
  content: "";
  background-image: url("../img/fruit/x.svg");
  width: 12px;
  height: 12px;
  display: inline-block;
}

.vegetables__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.categories {
  padding-top: 64px;
}

.categories__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  margin-bottom: 16px;
}

.categories__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-a);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__color {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background-color: var(--c2-e);
}

.categories__mini__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.filter__checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid var(--c1-d);
  display: inline-block;
  border-radius: 2px;
}

.brand__checkbox:checked + .filter__checkbox {
  background-color: var(--c2-a);
  border: solid 2px var(--c2-b);
  background-image: url("../img/fruit/corect.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-a);
}

.categories__check__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.check__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.chek__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.star__checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid var(--c1-d);
  display: inline-block;
  border-radius: 2px;
}

.star__check:checked + .star__checkbox {
  background-color: var(--c2-a);
  border: solid 2px var(--c2-b);
  background-image: url("../img/fruit/corect.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.check__image::before {
  content: "";
  width: 88px;
  height: 16px;
  display: inline-block;
  background-image: url("../../../img/fruit/star.png");
}

.check__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.raiting__title {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
}

.raiting_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.price__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  margin-bottom: 16px;
}

.price__img::before {
  content: "";
  display: inline-block;
  width: 251px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/fruit/linee.svg");
  margin-bottom: 16px;
}

.price__min {
  padding: 12px 21px;
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  width: 109px;
  outline-width: 1px;
  outline-color: #535353;
  background-color: var(--c1-h);
}

.price__des {
  font-weight: 600;
  font-size: 12px;
  color: var(--c1-a);
}

.price__min_line {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--c1-c);
  display: inline-block;
  margin-top: 15px;
}

.pirce__insed_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  margin-bottom: 31px;
}

.pirce__btn__color {
  padding: 12px 16px;
  font-family: var(--font-family);
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-c);
  background-color: #fff;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 12px;
  cursor: pointer;
}
.pirce__btn__color:hover {
  border: 2px solid var(--c2-b);
  background-color: var(--c2-a);
  color: var(--c1-j);
}

.price_btn__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
}

.price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}

.price__insed_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vategories__number {
  font-weight: 600;
  font-size: 12px;
  color: var(--c2-a);
  border-radius: 12px;
  padding: 0px 8px;
  background: var(--c2-e);
}

.categories__image {
  background-image: url("../img/posts.jpg");
  background-repeat: no-repeat;
  min-height: 180px;
  background-size: contain;
  padding: 12px 12px;
  margin-bottom: 16px;
}

.categories__item {
  border: 1px solid var(--c1-d);
  border-radius: 12px;
  padding: 16px;
  width: 268px;
  background-color: var(--c1-j);
}

.categpries__title {
  font-weight: 500;
  font-size: 15px;
  color: var(--c1-a);
  margin-bottom: 4px;
}

.categories__textt {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  color: var(--c1-b);
  margin-bottom: 12px;
}

.categories__star::before {
  content: "";
  display: inline-block;
  width: 88px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("../../../img/fruit/star_black.svg");
  margin-bottom: 16px;
}

.categories__price {
  font-weight: 600;
  font-size: 18px;
  color: var(--c1-a);
  text-decoration: none;
}

.categories__sale {
  font-weight: 600;
  font-size: 12px;
  text-decoration: line-through;
  color: var(--c1-c);
}

.categories__insed_min_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories__cart__btn {
  font-weight: 700;
  font-size: 15px;
  color: var(--c1-j);
  border: 2px solid var(--c2-b);
  border-radius: 12px;
  padding: 6px 12px;
  background: var(--c2-a);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.categories__left {
  max-width: 269px;
}

.categories__price_bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}

.categories__bigg__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.categories__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}/*# sourceMappingURL=main.css.map */