.categories {
    padding-top: 64px;
}

.categories__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 16px;
}

.categories__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
    display: flex;
    gap: 130px;
    align-items: center;
}

.categories__color {
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
    border-radius: 12px;
    padding: 0px 8px;
    background-color: var(--c2-e);
}

.categories__mini__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter__checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid var(--c1-d);
    display: inline-block;
    border-radius: 2px;
}

.brand__checkbox:checked + .filter__checkbox {
    background-color: var(--c2-a);
    border: solid 2px var(--c2-b);
    background-image: url("../img/fruit/corect.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-a);
}

.categories__check__block {
    display: flex;
    align-items: center;
    gap: 8px;
}
.check__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
}

.chek__box {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.star__checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid var(--c1-d);
    display: inline-block;
    border-radius: 2px;
}

.star__check:checked + .star__checkbox {
    background-color: var(--c2-a);
    border: solid 2px var(--c2-b);
    background-image: url("../img/fruit/corect.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.check__image::before {
    content: "";
    width: 88px;
    height: 16px;
    display: inline-block;
    background-image: url("../img/fruit/star.png");
}

.check__content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.raiting__title {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
}

.raiting_checkbox {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.price__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    margin-bottom: 16px;
}

.price__img::before {
    content: "";
    display: inline-block;
    width: 251px;
    height: 22px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/fruit/linee.svg");
    margin-bottom: 16px;
}

.price__min {
    padding: 12px 21px;
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    width: 109px;
    outline-width: 1px;
    outline-color: #535353;
    background-color: var(--c1-h);
}

.price__des {
    font-weight: 600;
    font-size: 12px;
    color: var(--c1-a);
}

.price__min_line {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--c1-c);
    display: inline-block;
    margin-top: 15px;
}

.pirce__insed_big {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 31px;
}

.pirce__btn__color {
    padding: 12px 16px;
    font-family: var(--font-family);
    border: 2px solid transparent;
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-c);
    background-color: #fff;
    border-radius: 12px;
    transition: all 0.3s ease;
    border-radius: 12px;
    cursor: pointer;

    &:hover {
        border: 2px solid var(--c2-b);
        background-color: var(--c2-a);
        color: var(--c1-j);
    }
}

.price_btn__block {
    display: flex;
    gap: 34px;
}

.price__block {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}
.price__insed_block {
    display: flex;
    flex-direction: column;
}

.vategories__number {
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
    border-radius: 12px;
    padding: 0px 8px;
    background: var(--c2-e);
}
.categories__image {
    background-image: url("../img/posts.jpg");
    background-repeat: no-repeat;
    min-height: 180px;
    background-size: contain;
    padding: 12px 12px;
    margin-bottom: 16px;
}

.categories__item {
    border: 1px solid var(--c1-d);
    border-radius: 12px;
    padding: 16px;
    width: 268px;
    background-color: var(--c1-j);
    transition: all 0.3 ease;
}

.categpries__title {
    font-weight: 500;
    font-size: 15px;
    color: var(--c1-a);
    margin-bottom: 4px;
}
.categories__textt {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-b);
    margin-bottom: 12px;
}

.categories__star::before {
    content: "";
    display: inline-block;
    width: 88px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url("../img/fruit/star_black.svg");
    margin-bottom: 16px;
}

.categories__price {
    font-weight: 600;
    font-size: 18px;
    color: var(--c1-a);
    text-decoration: none;
}
.categories__sale {
    font-weight: 600;
    font-size: 12px;
    text-decoration: line-through;
    color: var(--c1-c);
}

.categories__insed_min_bloc {
    display: flex;

    flex-direction: column;
}

.categories__cart__btn {
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-j);
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 6px 12px;
    background: var(--c2-a);

    max-width: max-content;
}

.categories__left {
    max-width: 269px;
}

.categories__price_bloc {
    display: flex;
    gap: 55px;
}
.categories__bigg__block {
    display: flex;
    gap: 34px;
}

.categories__list {
    display: flex;
    gap: 32px;
}

.categories__center {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.categories__item:hover {
    box-shadow: 2px 4px 9px 3px rgba(77, 89, 92, 0.15);
}

.number__neame {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.number__page {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
    transition: all 0.3s ease;
}

.number__page:hover {
    color: var(--c2-a);
}

.categories__number__list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.categories__show {
    font-weight: 700;
    font-size: 15px;
    color: var(--c1-j);
    border: 2px solid var(--c2-b);
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--c2-a);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.categories__show::after {
    content: "";
    background-image: url("../img/fruit/arrow-bottom.svg");
    width: 16px;
    height: 16px;
    display: inline-block;
}

.static__number {
    font-weight: 600;
    font-size: 12px;
    color: var(--c2-a);
    border-radius: 12px;
    padding: 0px 8px;
    background-color: var(--c2-e);
    display: inline-block;
}

.static__name {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.categories__static__block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.categories__bottom__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 64px;
}
